# Multi-Variate Bernoulli Distribution

In [2]:
import numpy as np
import pandas as pd

In [3]:
x_i1 = [1,1,1,1,1,1,0,0,0,0]
x_i2 = [1,1,0,1,0,1,1,0,0,1]
y_positive = [-1,-1,-1,-1,1,1,1,1,1,1]

In [43]:
df = pd.DataFrame({'x_i1(best prize)':x_i1, 'x_i1(buy)':x_i2, 'y(normal email)':y_positive})

In [45]:
df

   x_i1(best prize)  x_i1(buy)  y(normal email)
0                 1          1               -1
1                 1          1               -1
2                 1          0               -1
3                 1          1               -1
4                 1          0                1
5                 1          1                1
6                 0          1                1
7                 0          0                1
8                 0          0                1
9                 0          1                1

- Multi-Variate Bernoulli Distribution

In [57]:
distribuion_y_positive = pd.DataFrame({0:['2/6','1/6'], 1:['2/6', '1/6']}, index = [0,1])

In [58]:
distribuion_y_positive.index.name=('X1/X2')

In [59]:
distribuion_y_positive

         0    1
X1/X2
0      2/6  2/6
1      1/6  1/6

In [60]:
distribuion_y_negative = pd.DataFrame({0:['0/4','1/4'], 1:['1/4', '2/4']}, index = [0,1])
distribuion_y_negative.index.name=('X1/X2')

In [61]:
distribuion_y_negative

         0    1
X1/X2
0      0/4  1/4
1      1/4  2/4

# P(X_1=0,X_2=0|Y=-1) = 0/4

# P(Y=+1) = 6/10
# P(Y=-1) = 4/10

- P(Y=+1)P(X1=1, X2=1|Y=+1) = 6/10 * 1/6 = 1/10 
- P(Y=-1)P(X1=1, X2=1|Y=-1) = 4/10 * 2/4 = 2/10

-P(Y|X) = P(Y)*P(X|Y) / P(X)